
/* ----------------- ADD a Google FONT -------------------*/

* {
    box-sizing: border-box;
}

body {
/*    background-color: #161A29;     */
    margin: auto;
    font-family: 'Architects Daughter', cursive;
}

header {
    display: flex;
    justify-content: flex-end;
  
}

.search, .input {
    color: #fff;
    width: 33%;
    padding: 0px 0px;
    margin-right:910px;
    transform: translateX(-15%);
}


:placeholder-shown {
    width: 100%;
    font-size: 20px;
    padding: 0.5rem 1rem;
}

main {
    display: flex;
    flex-wrap: wrap-reverse;
    margin:50px;
    margin-left:125px;
}

.movie {
    width: 290px;
    background-color: #1C3160;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 20.2);
    overflow: hidden;
    position: relative;
    margin: 1.0rem;
/*  margin-left:1%; */

}

button {
    font-size: 18px;
    padding: 4.5px 20px;
    font-weight: bold;
    
}

.movie img {
    width: 100%;
}

.movie-info, .release-date, .popularity, .originlanguage {
    color: #eee;
    display: flex;
    font-weight: bold;
  
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 20%;
    font-weight: bold;
    padding: 2px 8px;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.summary {
    background-color: #fff;
    color: black;
    font-weight: lighter;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    overflow: auto;
    transform: translateX(-101%);
    transition: transform 0.5s ease-in;
}

.summary h3 {
    margin-top: 0;
    font-weight: bold;
}

.movie:hover .summary {
    transform: translate(0);

}


/* aldens part */
.navbar {
    padding: 1rem;
    position: relative;
    z-index: -19;
    
}

.center {
  position:fixed;
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
}

/* kc's parts */
.movie:hover{
  position:relative;
  z-index: 1;
  transition: all 0.32s ease-in-out;
  transform: scale(1.24, 1.175);
  transform: translateY(-6%);
/*   -webkit-transition: all .4s ease; */
  border: 1px solid black;
  box-shadow: 20px 20px 20px 10px rgba(6, 8, 10, 0.4);
/*     box-shadow: 20px 20px 20px 2000px rgba(6, 8, 10, 0.4) inset; */
/* pseudo modal [not actually wanted compared to actual modal - remove transition delay to make this work] */
 
}

.img-bg {
 overflow:hidden;
 background-image: url("https://cdn.glitch.com/679f8215-53b7-4d85-a959-e4c9f117e744%2Fblocks2.png?v=1607417368478");
/*     background-repeat: no-repeat; */
/*     background-size: 100% 100%;   */
/*   background-size: 50% 50%; */
}
.alpha-bg {
  overflow: hidden;
  height: 100%;
  background: rgba(15, 10, 30, 0.63);
  background-repeat: repeat;
/*   background-size: cover; */
}

/* ████████╗███████╗░██████╗████████╗██╗███╗░░██╗░██████╗░
   ╚══██╔══╝██╔════╝██╔════╝╚══██╔══╝██║████╗░██║██╔════╝░
   ░░░██║░░░█████╗░░╚█████╗░░░░██║░░░██║██╔██╗██║██║░░██╗░
   ░░░██║░░░██╔══╝░░░╚═══██╗░░░██║░░░██║██║╚████║██║░░╚██╗
   ░░░██║░░░███████╗██████╔╝░░░██║░░░██║██║░╚███║╚██████╔╝
   ░░░╚═╝░░░╚══════╝╚═════╝░░░░╚═╝░░░╚═╝╚═╝░░╚══╝░╚═════╝░
  - kc
 */

/* .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  
  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
  .close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} */